<body style="overflow-x: hidden">
  <div class="row">
    {% include 'adminheader.html' %}

    <div class="col">
      <nav class="navbar bg-light sticky-top user-select-none" style="height: 70px; padding-left: 0vh !important">
        <div class="container-fluid">
          <span class="h3 text-dark">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill"
              viewBox="0 0 16 16">
              <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
              <path
                d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z" />
            </svg>
            <span class="align-middle">Staff Details</span>
          </span>
          <a href="staffreport" style="margin-right: 65px;" data-toggle="tooltip" data-placement="bottom"
            title="Print Report" class="text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-printer"
              viewBox="0 0 16 16">
              <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
              <path
                d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z" />
            </svg>
          </a>
        </div>
      </nav>

      <!-- Main Content -->
      {% if data['up'] %}

      <section class="vh-100 user-select-none">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col">
              <form action="" method="post" class="needs-validation" novalidate>
                <!--<div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                      <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                      </button>
          
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                      </button>
          
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-linkedin-in"></i>
                      </button>
                    </div>
          
                    <div class="divider d-flex align-items-center my-4">
                      <p class="text-center fw-bold mx-3 mb-0">Or</p>
                    </div>-->
                <p class="display-6 fw-bold mb-4 me-3">Edit Staff</p>

                <!-- First Name input -->
                <div class="row">
                  <div class="form-outline form-floating mb-4 col">
                    <input type="text" value="{{data['up'][0]['staff_fname']}}" id="form3Example3" name="fname"
                      class="form-control form-control-lg" placeholder="Enter first name" required />
                    <label class="form-label px-4" for="form3Example3">First Name</label>
                    <div class="invalid-feedback">Please enter a name</div>
                  </div>

                  <!-- Last Name input -->
                  <div class="form-outline form-floating mb-4 col">
                    <input type="text" value="{{data['up'][0]['staff_lname']}}" id="form3Example3" name="lname"
                      class="form-control form-control-lg" placeholder="Enter last name" required />
                    <label class="form-label px-4" for="form3Example3">Last Name</label>
                    <div class="invalid-feedback">Please enter a last name</div>
                  </div>
                </div>

                <!-- Phone input -->
                <div class="form-outline form-floating mb-4">
                  <input type="text" value="{{data['up'][0]['staff_phone']}}" id="form3Example3" name="phone"
                    class="form-control form-control-lg" placeholder="Enter phone" pattern="[0-9]{10}" required />
                  <label class="form-label" for="form3Example3">Phone</label>
                  <div class="invalid-feedback">
                    Please enter a phone number
                  </div>
                </div>

                <!-- City input -->
                <div class="row">
                  <div class="form-outline form-floating mb-4 col">
                    <input type="text" value="{{data['up'][0]['staff_city']}}" id="form3Example3" name="city"
                      class="form-control form-control-lg" placeholder="Enter your city" required />
                    <label class="form-label px-4" for="form3Example3">City</label>
                    <div class="invalid-feedback">Please enter your city</div>
                  </div>

                  <!-- Pin input -->
                  <div class="form-outline form-floating mb-4 col-5">
                    <input type="text" value="{{data['up'][0]['staff_gender']}}" id="form3Example3" name="gender"
                      class="form-control form-control-lg" placeholder="Enter your gender" required />
                    <label class="form-label px-4" for="form3Example3">Gender</label>
                    <div class="invalid-feedback">Please enter your gender</div>
                  </div>
                </div>

                <!--<div class="d-flex justify-content-between align-items-center">-->
                <!-- Checkbox -->
                <!--<div class="form-check mb-0">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                        <label class="form-check-label" for="form2Example3">
                          Remember me
                        </label>
                      </div>
                      <a href="#!" class="text-body">Forgot password?</a>
                    </div>-->

                <div class="text-center text-lg-start mt-4 pt-2 mb-5">
                  <input type="submit" name="update" class="btn btn-primary btn-lg w-100"
                    style="padding-left: 2.5rem; padding-right: 2.5rem" value="Update" />
                  <!--<p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="register"
                          class="link-danger">Register</a></p>-->
                </div>
              </form>
            </div>
          </div>
        </div>
        <!--<div
              class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">-->
        <!-- Copyright -->
        <!--<div class="text-white mb-3 mb-md-0">
                Copyright © 2020. All rights reserved.
              </div>-->
        <!-- Copyright -->

        <!-- Right -->
        <!--<div>
                <a href="#!" class="text-white me-4">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#!" class="text-white me-4">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#!" class="text-white me-4">
                  <i class="fab fa-google"></i>
                </a>
                <a href="#!" class="text-white">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>-->
        <!-- Right -->
        <!--</div>-->
      </section>


      {% else %}
      <section class="vh-100 user-select-none">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col p-5">
              <form action="" method="post" class="needs-validation" novalidate>
                <!--<div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                      <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                      </button>
          
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                      </button>
          
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-linkedin-in"></i>
                      </button>
                    </div>
          
                    <div class="divider d-flex align-items-center my-4">
                      <p class="text-center fw-bold mx-3 mb-0">Or</p>
                    </div>-->
                <p class="display-6 fw-bold mb-4 me-3">Add Staff</p>
                <!-- Email input -->
                <div class="form-outline form-floating mb-4">
                  <input type="email" id="form3Example3" name="email" class="form-control form-control-lg"
                    placeholder="Enter a valid email address" required />
                  <label class="form-label" for="form3Example3">Email address</label>
                  <div class="invalid-feedback">Please enter valid email</div>
                </div>

                <!-- First Name input -->
                <div class="row">
                  <div class="form-outline form-floating mb-4 col">
                    <input type="text" id="form3Example3" name="fname" class="form-control form-control-lg"
                      placeholder="Enter first name" required />
                    <label class="form-label px-4" for="form3Example3">First Name</label>
                    <div class="invalid-feedback">Please enter a name</div>
                  </div>

                  <!-- Last Name input -->
                  <div class="form-outline form-floating mb-4 col">
                    <input type="text" id="form3Example3" name="lname" class="form-control form-control-lg"
                      placeholder="Enter last name" required />
                    <label class="form-label px-4" for="form3Example3">Last Name</label>
                    <div class="invalid-feedback">Please enter a last name</div>
                  </div>
                </div>

                <!-- Phone input -->
                <div class="form-outline form-floating mb-4">
                  <input type="text" id="form3Example3" name="phone" class="form-control form-control-lg"
                    placeholder="Enter phone" pattern="[0-9]{10}" required />
                  <label class="form-label" for="form3Example3">Phone</label>
                  <div class="invalid-feedback">
                    Please enter a phone number
                  </div>
                </div>

                <!-- City input -->
                <div class="row">
                  <div class="form-outline form-floating mb-4 col">
                    <input type="text" id="form3Example3" name="city" class="form-control form-control-lg"
                      placeholder="Enter your city" required />
                    <label class="form-label px-4" for="form3Example3">City</label>
                    <div class="invalid-feedback">Please enter your city</div>
                  </div>

                  <!-- Pin input -->
                  <div class="form-outline form-floating mb-4 col-5">
                    <input type="text" id="form3Example3" name="gender" class="form-control form-control-lg"
                      placeholder="Enter your gender" required />
                    <label class="form-label px-4" for="form3Example3">Gender</label>
                    <div class="invalid-feedback">Please enter your gender</div>
                  </div>
                </div>

                <!-- Password input -->
                <div class="form-outline form-floating mb-4">
                  <input type="password" id="form3Example4" name="pass" class="form-control form-control-lg"
                    placeholder="Enter password" required />
                  <label class="form-label" for="form3Example4">Password</label>
                  <div class="invalid-feedback">
                    Please enter a new password
                  </div>
                </div>

                <!--<div class="d-flex justify-content-between align-items-center">-->
                <!-- Checkbox -->
                <!--<div class="form-check mb-0">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                        <label class="form-check-label" for="form2Example3">
                          Remember me
                        </label>
                      </div>
                      <a href="#!" class="text-body">Forgot password?</a>
                    </div>-->

                <div class="text-center text-lg-start mt-4 pt-2 mb-5">
                  <input type="submit" name="submit" class="btn btn-primary btn-lg w-100"
                    style="padding-left: 2.5rem; padding-right: 2.5rem" value="Proceed" />
                  <!--<p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="register"
                          class="link-danger">Register</a></p>-->
                </div>
              </form>
            </div>
          </div>
        </div>
        <!--<div
              class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">-->
        <!-- Copyright -->
        <!--<div class="text-white mb-3 mb-md-0">
                Copyright © 2020. All rights reserved.
              </div>-->
        <!-- Copyright -->

        <!-- Right -->
        <!--<div>
                <a href="#!" class="text-white me-4">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#!" class="text-white me-4">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#!" class="text-white me-4">
                  <i class="fab fa-google"></i>
                </a>
                <a href="#!" class="text-white">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>-->
        <!-- Right -->
        <!--</div>-->
      </section>
      {% endif %}
      <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
          "use strict";

          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.querySelectorAll(".needs-validation");

          // Loop over them and prevent submission
          Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener(
              "submit",
              function (event) {
                if (!form.checkValidity()) {
                  event.preventDefault();
                  event.stopPropagation();
                }

                form.classList.add("was-validated");
              },
              false
            );
          });
        })();
      </script>
      <div class="p-lg-5">
        <div class="table-responsive rounded">
          <table class="table table-striped table-sm">
            <thead class="text-white bg-primary">
              <th scope="col">Sl no</th>
              <th scope="col">Email</th>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">City</th>
              <th scope="col">Phone</th>
              <th scope="col">Gender</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </thead>
            {% for r in data['view'] %}
            <tr>
              <td>{{loop.index}}</td>
              <td>{{r['email']}}</td>
              <td>{{r['staff_fname']}}</td>
              <td>{{r['staff_lname']}}</td>
              <td>{{r['staff_city']}}</td>
              <td>{{r['staff_phone']}}</td>
              <td>{{r['staff_gender']}}</td>
              <td><a class="btn btn-primary" name="update" href="?action=update&id={{r['staff_id']}}">Update</a></td>
              <td>
                {% if r['status'] == 1 %}
                <a class="btn btn-danger" href="?action=inactive&id={{r['staff_id']}}">Inactivate</a>
                {% else %}
                <a class="btn btn-success" href="?action=active&id={{r['staff_id']}}">Activate</a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  {% include 'adminfooter.html'%}
</body>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>