<body style="overflow-x: hidden">
    <div class="row">
        {% include 'adminheader.html' %}

        <div class="col">
            <nav class="navbar bg-light sticky-top user-select-none" style="height: 70px; padding-left: 0vh !important">
                <div class="container-fluid">
                    <span class="h3 text-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path
                                d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                            <path
                                d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z" />
                        </svg>
                        <span class="align-middle">Staff Details</span>
                    </span>
                </div>
            </nav>

            <!-- Main Content -->
            <div class="p-lg-5">
                <div class="table-responsive rounded">
                    <table class="table table-striped table-sm">
                        <thead class="text-white bg-primary">
                            <th scope="col">Email</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">City</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Gender</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </thead>
                        {% for r in data['view'] %}
                        <tr>
                            <td>{{r['email']}}</td>
                            <td>{{r['staff_fname']}}</td>
                            <td>{{r['staff_lname']}}</td>
                            <td>{{r['staff_city']}}</td>
                            <td>{{r['staff_phone']}}</td>
                            <td>{{r['staff_gender']}}</td>
                            <td><a class="btn btn-primary" name="update"
                                    href="?action=update&id={{r['staff_id']}}">Update</a></td>
                            <td>
                                {% if r['status'] == 1 %}
                                <a class="btn btn-danger" href="?action=inactive&id={{r['staff_id']}}">Inactive</a>
                                {% else %}
                                <a class="btn btn-success" href="?action=active&id={{r['staff_id']}}">Active</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include 'adminfooter.html'%}
</body>