{% include 'customerheader.html' %}

<section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">

  	
    	<h1>Welcome <span>{{ data['name'] }}</span></h1>
   

    <h2>Buy Used Phones Online In India For Instant Cash</h2>
    <div class="d-flex">
      <a href="#" class="btn-get-started scrollto">Buy Now</a>
      <!-- <a href="product" class="glightbox btn-watch-video btn-light px-3"
        ><i class="bi bi-cart-plus"></i><span>Buy Now</span></a
      > -->
    </div>
  </div>
</section>

{% include 'footer.html' %}

