{% include'customerheader.html' %}


<section style="background-color: #eee;">
    {% for row in data['productsearch'] %}

    <div class="container mt-3 mb-4">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="images p-3">
                                <div class="text-center p-4"> 
                                    <img id="main-image" src="/{{row['image']}}" width="250" /> 
                                </div>
                                <!-- <div class="thumbnail text-center"> 
                                    <img onclick="change_image(this)" src="https://i.imgur.com/Rx7uKd0.jpg" width="70"> <img
                                        onclick="change_image(this)" src="https://i.imgur.com/Dhebu4F.jpg" width="70">
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product p-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center"> 
                                        <a href="customerproduct"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                            </svg> <span class="ml-1"></span> 
                                        </a>
                                    </div> 
                                </div>
                                <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">{{row['brand_name']}}</span>
                                    <h5 class="text-uppercase">{{row['item_name']}}</h5>
                                    <div class="price d-flex flex-row align-items-center"> 
                                        <span class="act-price">₹{{row['sell_price']}}</span>
                                        <!-- <div class="ml-2"> 
                                            <small class="dis-price">$59</small> <span>40% OFF</span>
                                        </div> -->
                                    </div>
                                </div>
                                <p class="about">{{row['item_desc']}}</p>
                                <!-- <div class="sizes mt-5">
                                    <h6 class="text-uppercase">Size</h6> <label class="radio"> <input type="radio"
                                            name="size" value="S" checked> <span>S</span> </label> <label class="radio">
                                        <input type="radio" name="size" value="M"> <span>M</span> </label> <label
                                        class="radio"> <input type="radio" name="size" value="L"> <span>L</span>
                                    </label> <label class="radio"> <input type="radio" name="size" value="XL">
                                        <span>XL</span> </label> <label class="radio"> <input type="radio" name="size"
                                            value="XXL"> <span>XXL</span> </label>
                                </div> -->
                                <div class="cart mt-4 align-items-center"> 
                                    <a href="?action=cart&amount={{ data['productsearch'][0]['sell_price'] }}&pid={{ data['productsearch'][0]['item_id'] }} class="btn btn-primary text-uppercase mr-2 px-4">Add to cart</a> 
                                    <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</section>

{% include'footer.html' %}