<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div id="div_print">
        <title>Report</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

        <style>
            #header {
                background: #fff;
                transition: all 0.5s;
                z-index: 997;
                height: 86px;
                color: #222222;
                text-decoration: none;
                font-size: 40px;
                margin: 0;
                padding: 0;
                line-height: 1;
                font-weight: 600;
                letter-spacing: 0.8px;
                font-family: "Poppins", sans-serif;
                margin-left: 550px;
            }
        </style>




</head>

<body onload="printDiv()">

    <div class="card">
        <div class="card-body">
            <div class="container mb-5 mt-3">
                <div class="row d-flex align-items-baseline">
                    <div class="col-xl-9">
                        <!-- <p style="color: #7e8d9f;font-size: 20px;">Invoice >> <strong>ID: #123-123</strong></p> -->
                    </div>
                    <div class="col-xl-3 float-end">
                        <!-- <a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"><i
                                class="fas fa-print text-primary"></i> Print</a>
                        <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark"><i
                                class="far fa-file-pdf text-danger"></i> Export</a> -->
                    </div>
                    <h1 class="logo">
                        <a href="customerhome" id="header">MobiLand<span style="color: #106eea;">.</span></a>
                    </h1>
                    <hr>
                </div>

                <div class="container p-3">
                    <div class="col-md-12">
                        <div class="text-center">
                            <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>

                            <!-- <p class="pt-0">MDBootstrap.com</p> -->
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xl-8">
                            <ul class="list-unstyled">
                                A108 Adam Street <br>
                                    New York, NY 535022<br>
                                    United States <br><br>
                                    <strong>Phone:</strong> +91 9400 737 266<br>
                                    <strong>Email:</strong> mobiland@gamil.com<br>
                                    <strong>Report Generated Date:</strong> <span id="rdate"></span><br> 
                            </ul>
                        </div>
                        <center>
                            <h3 class="text-dark">Purchase Report<span style="color:#5d9fc5 ;"></span></h3>
                        </center>
                        <div class="col-xl-4">
                            <p class="text-muted"></p>
                            <ul class="list-unstyled">
                                <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                                        class="fw-bold"></span></li>
                                <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                                        class="fw-bold"></span></li>
                                <!-- <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                                        class="me-1 fw-bold">Status:</span><span
                                        class="badge bg-warning text-black fw-bold">
                                        paid</span></li> -->
                            </ul>
                        </div>
                    </div>

                    <div class="row my-2 mx-1 justify-content-center">
                        <table class="table table-striped table-borderless">
                            <thead class="text-white bg-dark">
                                <tr>
                                    <th scope="col">Sl no</th>
                                    <th scope="col">Customer</th>
                                    <th scope="col" class="w-25">Item name</th>
                                    <th scope="col">Item description</th>
                                    <th scope="col">Cost Price</th>
                                    <th scope="col">Profit</th>
                                    <th scope="col">Sell Price</th>
                                    <th scope="col">Image</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for r in data['view'] %}
                                <tr>
                                    <td>{{loop.index}}</td>
                                    <td>{{r['cust_fname']}}</td>
                                    <td class="w-25">{{r['item_name']}}</td>
                                    <td class="w-25">{{r['item_desc']}}</td>
                                    <td>₹ {{r['cost_price']}}</td>
                                    <td>{{r['item_profit']}}%</td>
                                    <td>₹ {{r['sell_price']}}</td>
                                    <td><img width="73" height="68" src="/{{r['image']}}"></td>
                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <div style="float: right; padding: 40px;"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    const dt = () => {
        const today = new Date();
        const yyyy = today.getFullYear();
        let mm = today.getMonth() + 1; 
        let dd = today.getDate();

        if (dd < 10) dd = '0' + dd;
        if (mm < 10) mm = '0' + mm;

        const formattedToday = dd + '-' + mm + '-' + yyyy;
        
        console.log(formattedToday);

        document.getElementById('rdate').innerHTML = formattedToday;
    }
    function printDiv() {
        var divContents = document.getElementById("div_print").innerHTML;
        var a = window.open('', '', 'height=500, width=500');
        a.document.write(divContents);
        a.document.close();
        a.print();
    }
    dt();
</script>